* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: #1E1F2E;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}
a:visited {
    color: white;
}
a:hover {
    color: #F3B700;
}
a {
    color: white;
    text-decoration: none;
    padding: 2rem;
    background-color: #800E13;
    margin-bottom: 1rem;
    text-align: center;
    width: 20rem;
}
.logo {
    height: 10rem;
    width: 10rem;
    margin:auto;
}
header {
    height: 10rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}