* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #2A2D34;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

a:visited {
    color: #ffffff;
}

a:hover {
    background-color: white;
    color: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 2rem;
    background-color: #226CE0;
    margin-bottom: 1rem;
    text-align: center;
    width: 25rem;
}

.logo {
    height: 10rem;
    width: 20rem;
    margin: auto;
}

header {
    height: 9rem;
    width: 99.1vw;
    display: flex;
    justify-content: center;
    background: #226CE0;
    text-align: center;
}

header>a:hover {
    background-color: #226CE0;
}

